.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    animation: popUp 0.8s ease 0.2s;
    &__heading {
        margin-bottom: 2rem;
        font-size: 5rem;
        font-weight: 400;
        text-transform: uppercase;
        transition: transform 0.2s;
        @include respond(phone) {
            font-size: 3.5rem;
        }
    }
    &__description {
        margin-bottom: 5rem;
        font-size: 2rem;
        @include respond(phone) {
            font-size: 1.6rem;
        }
    }
}

.about-container {
    $desc-box-margin-right: 6rem;
    $desc-box-margin-left: 20rem;
    $desc-box-margin-hori: calc(#{$desc-box-margin-right}+#{$desc-box-margin-left});
    $img-box-width-pct: 0.4;
    $img-box-slant-pct: 0.3;
    /* TODO: boxの左上斜めカットをborderで作成しており、幅、高さを%指定できないので計算して設定 */
    $img-box-height: calc(#{$section-height} - 32.5rem); // 32.5remはセクション見出しの大きさと上下余白の合計
    $img-box-width: calc((100vw - #{$desc-box-margin-hori}) * #{$img-box-width-pct});
    $border-left-thickness: calc(#{$img-box-width} * #{$img-box-slant-pct});
    flex: 1;
    display: flex;
    width: 100%;
    @include respond(tab-land) {
        flex-direction: column-reverse;
        align-items: center;
    }
    &__description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: $desc-box-margin-right;
        margin-left: $desc-box-margin-left;
        @include respond(tab-land) {
            display: block;
            margin: 0;
            width: 80%;
        }
    }
    &__heading {
        margin-bottom: 1.5rem;
        font-size: 3.2rem;
        font-weight: 300;
        @include respond(tab-land) {
            text-align: center;
        }
        @include respond(phone) {
            font-size: 2.2rem;
        }
        &>span {
            margin-left: 1.5rem;
            font-size: 2rem;
            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
    }
    &__paragraph {
        margin-bottom: 14rem;
        word-break: break-all;
        hyphens: auto;
        @include respond(tab-land) {
            margin-bottom: 0;
        }
    }
    &__img-box {
        width: $img-box-width;
        height: $img-box-height;
        @include respond(tab-land) {
            width: 20rem;
            height: 20rem;
            margin-bottom: 5rem;
            border-radius: 50%;
            overflow: hidden;
        }
        @include respond(phone) {
            width: 15rem;
            height: 15rem;
        }
        &:after {
            width: 100%;
            height: 100%;
            display: block;
            background: url(../img/self-min.jpg) no-repeat;
            background-size: 70vw auto;
            background-position: 50vw bottom;
            background-attachment: fixed;
            border-left: $border-left-thickness solid white;
            border-bottom: $img-box-height solid transparent;
            content: '';
            @include respond(tab-land) {
                background-size: cover;
                background-position: -4.5rem center;
                background-attachment: scroll;
                border: none;
            }
            @include respond(ph7ne) {
                background-position: -3.5rem center;
            }
        }
        &--scroll:after {
            background-attachment: scroll;
        }
    }
}

/* for firefox */

@-moz-document url-prefix() {
    .about-container__img-box {
        transform: none;
    }
    .about-container__img {
        transform: none;
    }
}

/* for edge */

@supports (-ms-ime-align: auto) {
    .about-container__img-box {
        transform: none;
    }
    .about-container__img {
        transform: none;
    }
}

/* skills section */

.carousel {
    flex: 1;
    width: 80%;
    @include respond(phone) {
        width: 90%;
    }
}

.card {
    // widthはjsで調整している
    flex: 1;
    padding: 3rem 4rem;
    box-shadow: 0 2px 4px 2px rgba(black, 0.2);
    border-radius: 1px;
    background-color: white;
    @include respond(phone) {
        padding: 2.5rem 2.5rem;
    }
    &__pie {
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        @include respond(phone) {
            margin-bottom: 1.5rem;
        }
        .pie {
            $python-pct: 80;
            $go-pct: 70;
            $javascript-pct: 60;
            $sql-pct: 50;
            $debian-pct: 40;
            $nodejs-pct: 30;
            $r-pct: 40;
            $excel-pct: 90;
            $c-pct: 30;
            $ocaml-pct: 10;
            $others-pct: 10;
            &--javascript[data-animated] {
                @include makePie($javascript-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($javascript-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--python[data-animated] {
                @include makePie($python-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($python-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--go[data-animated] {
                @include makePie($go-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($go-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--sql[data-animated] {
                @include makePie($sql-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($sql-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--debian[data-animated] {
                @include makePie($debian-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($debian-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--nodejs[data-animated] {
                @include makePie($nodejs-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($nodejs-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--r[data-animated] {
                @include makePie($r-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($r-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--excel[data-animated] {
                @include makePie($excel-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($excel-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--ocaml[data-animated] {
                @include makePie($c-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($ocaml-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--c[data-animated] {
                @include makePie($c-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($c-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
            &--others[data-animated] {
                @include makePie($others-pct, 1s, 3.8rem, 8rem, 5rem, $color-primary, white);
                @include respond(phone) {
                    @include makePie($others-pct, 1s, 2.5rem, 5rem, 3rem, $color-primary, white);
                }
            }
        }
    }
    &__heading {
        margin-bottom: 3rem;
        font-size: 2.8rem;
        text-align: center;
        @include respond(phone) {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
    }
    &__description {
        width: 100%;
    }
    &__detail {
        margin-bottom: 2rem;
        @include respond(phone) {
            margin-bottom: 0.8rem;
        }
    }
}

.awards-container,
.works-container {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    max-width: 100rem;
    &__item {
        display: flex;
        width: 100%;
        margin: 0 auto;
        @include respond(phone) {
            flex-direction: column;
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 1.8rem;
        @include respond(phone) {
            margin-bottom: 3rem;
        }
    }
    &__heading {
        margin-bottom: .4rem;
        &>a:link,
        &>a:visited {
            text-decoration: none;
            color: $color-primary;
            font-size: 2.2rem;
            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
        &>a:hover,
        &>a:active {
            color: $color-primary-dark;
        }
        &>span {
            font-size: 2.2rem;
            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
    }
    &__date {
        margin-top: 1px;
        width: 10rem;
    }
    &__description {
        flex: 1;
    }
    &__paragraph {
        word-break: break-all;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.photos-container {
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        @include respond(phone) {
            flex-wrap: wrap;
        }
    }
    &__img {
        overflow: hidden;
        background-color: black;
        width: 25%;
        @include respond(phone) {
            width: 50%;
            background-color: transparent;
        }
        &>img {
            opacity: 0.5;
            width: 100%;
            transition: all 0.5s;
            backface-visibility: hidden;
            @include respond(phone) {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
                transform: scale(1.15);
            }
        }
    }
}

.modal-container {
    flex: 1;
    list-style: none;
    width: 100%;
    margin-bottom: 1rem;
    &__item {
        margin-bottom: 2rem;
        word-wrap: break-word;
    }
    &__subject {
        font-size: 1.8rem;
        font-weight: 700;
        width: 10rem;
    }
    &__value {
        font-size: 1.8rem;
        @include respond(phone) {
            font-size: 1.4rem;
        }
    }
}

.spinner__message {
    font-size: 2.2rem;
}

// footer
.footer-container {
    display: flex;
    width: 80%;
    max-width: 120rem;
    &__message {
        flex: 1;
        margin-right: 5rem;
        @include respond(tab-port) {
            margin-right: 0;
        }
    }
    &__form {
        flex: 1;
        @include respond(tab-port) {
            margin-bottom: 10rem;
        }
    }
    @include respond(tab-port) {
        flex-direction: column-reverse;
    }
}

.message-container {
    margin-bottom: 5rem;
}

.socials-container {
    flex: 1;
    &__icons {
        flex: 1;
    }
    &__copy {
        font-family: sans-serif;
        font-size: 1.2rem;
        color: $color-tertiary;
        @include respond(phone) {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }
}

.social-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    &__item {
        margin-right: 1.5rem;
    }
    &__link {
        &:link,
        &:visited {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            font-size: 3rem;
            color: $color-tertiary;
            text-decoration: none;
            transition: color 0.2s;
        }
        &--facebook:hover {
            color: #3b5998;
        }
        &--instagram:hover {
            color: #517fa4;
        }
        &--github:hover {
            color: #181717;
        }
        &--bucket:hover {
            color: #205081;
        }
        &--kaggle {
            &>svg {
                fill: $color-tertiary;
                width: 2.3rem;
            }
            &:hover {
                &>svg {
                    fill: #1bc0ff;
                }
            }
        }
    }
}
