/* 参考: https://codepen.io/anon/pen/Kroozq */

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 80%;
    &__btn {
        width: 12px;
        height: 12px;
        margin: 5rem 1rem 0;
        /* 一辺の半分だけ内側にアウトラインを作って埋める */
        outline: 6px solid #ccc;
        outline-offset: -6px;
        cursor: pointer;
        backface-visibility: hidden;
        &:checked {
            outline-color: $color-gray-2;
        }
    }
    &__contents {
        display: flex;
        &>*:not(:last-child) {
            margin-right: 20rem;
        }
    }
}

.ballon {
    position: relative;
    width: 90%;
    height: 10rem;
    box-shadow: 1px 1px 2px rgba(black, 0.1);
    border-radius: 1px;
    background-color: $color-gray-4;
    transition: transform 0.5s ease-in;
    &::after {
        display: block;
        position: absolute;
        top: 25%;
        left: -1rem;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent $color-gray-4 transparent $color-gray-4;
        border-width: 0.8rem 1rem 0.8rem 0;
        transform: translateY(-50%);
        content: '';
    }
    &:hover {
        transform: scale(1.05);
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    height: 90%;
    width: 7px;
    background-color: $color-primary-light-1;
    &__dot {
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        box-shadow: 0 0 0 18px rgba(black, 0.1);
        background-color: $color-primary-light-1;
        &::before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px;
            height: 13px;
            background-color: white;
            transform: translate(-50%, -50%);
            content: '';
        }
        &::after {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 13px;
            height: 3px;
            background-color: white;
            transform: translate(-50%, -50%);
            content: '';
        }
        &--1 {
            margin-bottom: 10rem;
        }
    }
}
